/* Reset some default styles to remove browser-specific styles */
body, table {
    margin: 0;
    padding: 0;
}

/* Set background color to gold (emas) */
body {
    background-color: white;
}

/* Style for the table */
.table {
    background-color: red;
    border-collapse: collapse;
    width: 100%;
}

/* Style for table header */
.table th {
    background-color: red;
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

/* Style for table cells */
.table td {
    background-color: red;
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
